@model CV.Management.Web.Models.NoticePeriodViewModel

<div class="row">
    <div class="row">
        <div class="col-md-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => Model.NoticePeriod, new { @class = "control-label" })
                @Html.TextBoxFor(model => Model.NoticePeriod, new { @class = "form-control", @placeholder = @Resources.NoticePeriod })
                @Html.ValidationMessageFor(model => Model.NoticePeriod)
            </div>
        </div>
    </div>
</div>
