@model CV.Management.Web.Models.SetPasswordViewModel
@{
    Layout = "_AccountLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img src="~/Content/Images/logo.png" alt="Amrop" class="login-image">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <p class="text-info">
                        You do not have a local username/password for this site. Add a local
                        account so you can log in without an external login.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <input type="submit" value="Set password" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
