@model CV.Management.Web.Models.AdditionalCoursesViewModel

<div class="row">

    @using (Html.BeginForm("AdditionalCourses", "Cv", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div id="courses_container">
            @for (var i = 0; i < Model.Courses.Count; i++)
            {
                <div class="courses_row row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Courses[i].NumberOfDays, new { @class = "courses-number-of-days-label control-label" })
                                    @Html.TextBoxFor(model => model.Courses[i].NumberOfDays, new { @class = "courses-number-of-days-input form-control" })
                                    @Html.ValidationMessageFor(model => model.Courses[i].NumberOfDays, "", new { @class = "courses-number-of-days-validation" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Courses[i].Year, new { @class = "courses-year-label control-label" })
                                    @Html.TextBoxFor(model => model.Courses[i].Year, new { @class = "courses-year-input form-control" })
                                    @Html.ValidationMessageFor(model => model.Courses[i].Year, "", new { @class = "courses-year-validation" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Courses[i].CourseName, new { @class = "courses-name-label control-label" })
                                    @Html.TextBoxFor(model => model.Courses[i].CourseName, new { @class = "courses-name-input form-control" })
                                    @Html.ValidationMessageFor(model => model.Courses[i].CourseName, "", new { @class = "courses-name-validation" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Courses[i].Trainer, new { @class = "courses-trainer-label control-label" })
                                    @Html.TextBoxFor(model => model.Courses[i].Trainer, new { @class = "courses-trainer-input form-control" })
                                    @Html.ValidationMessageFor(model => model.Courses[i].Trainer, "", new { @class = "courses-trainer-validation" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <img class="remove-button courses-remove" src="~/Content/Images/remove.png" />
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12 text-center add-button">
                <p><img id="position_add" src="~/Content/Images/add.png" /> ADD COURSE</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-right">
                    <input type="submit" value="Save" class="btn btn-primary float-right" />
                </div>
            </div>
        </div>
    }

</div>
