@model CV.Management.Web.Models.EducationViewModel

<div class="row">

    @using (Html.BeginForm("Education", "Cv", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div id="education_container">
            @for (var i = 0; i < Model.Education.Count; i++)
            {
            <div class="education_row row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Education[i].FromYear, new { @class = "education-from-year-label control-label" })
                                @Html.TextBoxFor(model => model.Education[i].FromYear, new { @class = "education-from-year-input form-control" })
                                @Html.ValidationMessageFor(model => model.Education[i].FromYear, "", new { @class = "education-from-year-validation" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Education[i].ToYear, new { @class = "education-to-year-label control-label" })
                                @Html.TextBoxFor(model => model.Education[i].ToYear, new { @class = "education-to-year-input form-control" })
                                @Html.ValidationMessageFor(model => model.Education[i].ToYear, "", new { @class = "education-to-year-validation" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Education[i].Institution, new { @class = "education-institution-label control-label" })
                                @Html.TextBoxFor(model => model.Education[i].Institution, new { @class = "education-institution-input form-control" })
                                @Html.ValidationMessageFor(model => model.Education[i].Institution, "", new { @class = "education-institution-validation" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Education[i].Degree, new { @class = "education-degree-label control-label" })
                                @Html.TextBoxFor(model => model.Education[i].Degree, new { @class = "education-degree-input form-control" })
                                @Html.ValidationMessageFor(model => model.Education[i].Degree, "", new { @class = "education-degree-validation" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-1">
                    <img class="remove-button education-remove" src="~/Content/Images/remove.png" />
                </div>
            </div>
            }

        </div>

        <div class="row">
            <div class="col-md-12 text-center add-button">
                <p><img id="education_add" src="~/Content/Images/add.png" /> ADD EDUCATION</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-right">
                    <input type="submit" value="Save" class="btn btn-primary float-right" />
                </div>
            </div>
        </div>
    }

</div>
