@using CV.Management.Web.Models
@model CV.Management.Web.Models.LanguageViewModel

<div class="row">

    @using (Html.BeginForm("Language", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        foreach (var item in Model.Languages)
        {

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => item.LanguageName, new { @class = "control-label" })
                    @Html.DropDownListFor(model => item.LanguageName, new SelectList(Enum.GetValues(typeof(LanguageEnum))), "Language", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => item.LanguageName)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => item.SpokenLevel, new { @class = "control-label" })
                    @Html.DropDownListFor(model => item.SpokenLevel, new SelectList(Enum.GetValues(typeof(LevelEnum))), "Spoken level", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => item.SpokenLevel)
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => item.WrittenLevel, new { @class = "control-label" })
                    @Html.DropDownListFor(model => item.WrittenLevel, new SelectList(Enum.GetValues(typeof(LevelEnum))), "Written level", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => item.WrittenLevel)
                </div>
            </div>
        </div>

        }
        <div class="row">
            <div class="col-md-12 text-center add-button">
                <p><img id="position_add" src="~/Content/Images/add.png" /> ADD LANGUAGE</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-right">
                    <input type="submit" value="Save" class="btn btn-primary float-right" />
                </div>
            </div>
        </div>
    }

</div>
