@model CV.Management.Web.Models.MembershipViewModel

<div class="row">

    @using (Html.BeginForm("Memberships", "Cv", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div id="membership_container">
            @for (var i = 0; i < Model.Memberships.Count; i++)
            {
            <div class="membership_row row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Memberships[i].FromTime, new { @class = "membership-from-time-label control-label" })
                                @Html.TextBoxFor(model => model.Memberships[i].FromTime, new { @class = "membership-from-time-input form-control" })
                                @Html.ValidationMessageFor(model => model.Memberships[i].FromTime, "", new { @class = "membership-from-time-validation" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Memberships[i].ToTime, new { @class = "membership-to-time-label control-label" })
                                @Html.TextBoxFor(model => model.Memberships[i].ToTime, new { @class = "membership-to-time-input form-control" })
                                @Html.ValidationMessageFor(model => model.Memberships[i].ToTime, "", new { @class = "membership-to-time-validation" })
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.Memberships[i].Now, new { @class = "membership-now-input" })
                                    @Html.LabelFor(model => model.Memberships[i].Now, new { @class = "membership-now-label control-label" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Memberships[i].Description, new { @class = "membership-description-label control-label" })
                                @Html.TextAreaFor(model => model.Memberships[i].Description, new { @class = "membership-description-input form-control", @rows = 5 })
                                @Html.ValidationMessageFor(model => model.Memberships[i].Description, "", new { @class = "membership-description-validation" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    <img class="remove-button membership-remove" src="~/Content/Images/remove.png" />
                </div>
            </div>
            }
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <p class="uppercase"><img id="membership_add" src="~/Content/Images/add.png" /> @Resources.AddMembership</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group text-right">
                    <input type="submit" value="@Resources.Save" class="btn btn-primary float-right" />
                </div>
            </div>
        </div>
    }

</div>
