@model CV.Management.Web.Models.ProfileViewModel
@{
    ViewBag.Title = @Resources.Profile;
}

@*https://stackoverflow.com/questions/38281010/asp-net-mvc-multiple-forms-in-single-strongly-typed-view-and-validate-using-data*@

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading panel-light-blue" data-toggle="collapse" data-target="#collapse1">
            <h4 class="panel-title uppercase">
                @Resources.Personal
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        @Html.Partial("_FileUpload", Model.FileUploadViewModel)
                    </div>
                    <div class="col-sm-9 personal-information">
                        @Html.Partial("_PersonalInformation", Model.PersonalInformationViewModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-green" data-toggle="collapse" data-target="#collapse2">
            <h4 class="panel-title uppercase">
                    @Resources.Education
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    @Html.Partial("_Education", Model.EducationViewModel)
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-middle-blue" data-toggle="collapse" data-target="#collapse3">
            <h4 class="panel-title uppercase">
                @Resources.Courses
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_AdditionalCourses", Model.AdditionalCoursesViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-pink" data-toggle="collapse" data-target="#collapse4">
            <h4 class="panel-title uppercase">
                @Resources.Language
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_Language", Model.LanguageViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-red" data-toggle="collapse" data-target="#collapse5">
            <h4 class="panel-title uppercase">
                @Resources.CareerSummary
            </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_CareerSummary", Model.CareerSummaryViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-heavy-blue" data-toggle="collapse" data-target="#collapse6">
            <h4 class="panel-title uppercase">
                @Resources.Memberships
            </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_Memberships", Model.MembershipViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-orange" data-toggle="collapse" data-target="#collapse7">
            <h4 class="panel-title uppercase">
                @Resources.Compensation
            </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_Compensation", Model.CompensationViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-light-blue" data-toggle="collapse" data-target="#collapse8">
            <h4 class="panel-title uppercase">
                @Resources.NoticePeriodLabel
            </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_NoticePeriod", Model.NoticePeriodViewModel)
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading panel-green" data-toggle="collapse" data-target="#collapse9">
            <h4 class="panel-title uppercase">
                @Resources.AdditionalComments
            </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
            <div class="panel-body">
                @Html.Partial("_AdditionalComments", Model.AdditionalCommentsViewModel)
                @Html.Partial("_AdditionalFiles", Model.AdditionalFilesViewModel)
                @Html.Partial("_AddAdditionalFile")
            </div>
        </div>
    </div>
</div>